.App {
  text-align: center;
  text-align: -webkit-center;
}
body{
  margin:0;
  border: 0;
}
.Nav_list{
  position: sticky;
  width:100%;
  top:0;
  height:auto;
  z-index: 9999;
  padding:20px;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 2px 2px 12px #ccc;

}
.Nav_list a{
  padding:0px 30px;
  text-decoration: none;
  color:rgb(132, 109, 236);
  font-size: large;
  font-weight: 600;
  
}
.form_data{
  text-align: -webkit-center;
  width:320px;
  display: block;
  height:auto;
  z-index: -1;
  border-radius: 8px;
  padding:0px 0px 20px 0px;
  margin: 10px 0px 20px;
  box-sizing: border-box;
  box-shadow: 1px 1px 15px #ccc;
}
.text-white{
  color: white;
  box-sizing: border-box;
}
.pt-0{
  padding:10px;
  margin-top: 0px;
  background-color: #002D62;
}
.form_data input{
  display: block;
  margin: 10px 5px ;
  width:80%;
  height:30px;

}
.b-style{
  font-size: 1rem;
  border: 0px;
  outline: 1px solid #7CB9E8;
  
}
.b-style:focus-visible{
  outline: 2px solid #7CB9E8;
  box-shadow: 1px 1px 15px #7da4c6;
}
.d-flex{
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;;
  width:80%;
  
}
input[type='radio']{
  display:flex !important ;
  width:20px !important;
  height:15px !important;
  margin: 5px !important ;
  
}
input:checked{
  outline-offset: 0px !important;
  box-shadow: 1px 1px 2px #7da4c6;
}
input[type='submit']{
  width:150px !important;
  height:auto !important;
}
input[type='submit'],button,th{
  background: #002244;
  color:white;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bolder;
  padding: 15px 20px;
  
}
.text-warning{
  color:#1d1160;
  text-shadow: 1px 1px 15px #00308F;
}
.text-transform{
  text-transform: uppercase;
}
.btn-danger{
  background: #FF0800;
}
.btn-primary{
background:#33006F;
}
.btn-warning{
  background:#FF4500;
}
button{
  width:100px;
  height: auto;
  border: 0px;
  box-shadow: 1px 1px 15px rgb(189, 187, 187);
  margin: 3px 10px;
  
}

.tb-row{
 background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
 box-sizing: border-box;
 box-shadow: 2px 2px 18px linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
 
}
th,td{
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}